<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/casawork201/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="casawork201" />
      <add key="ClearTextPassword" value="%GITHUB_PAT%" />
    </github>
  </packageSourceCredentials>
</configuration>